<header class="container">
	<a href="/">
		<h1
			lang="{{ request.defaultLocale }}"
			class="m-t-40 m-b-30 text-center text-md-left"
		>
			<img
				src="{{ asset('/assets/images/logo.png') }}"
				srcset="{{ asset('/assets/images/logo-230.png') }} 230w,
								{{ asset('/assets/images/logo-330.png') }} 330w,
								{{ asset('/assets/images/logo-460.png') }} 460w,
								{{ asset('/assets/images/logo-660.png') }} 660w,
								{{ asset('/assets/images/logo-690.png') }} 690w,
								{{ asset('/assets/images/logo-990.png') }} 990w"
				sizes="(min-width: 768px) 330px, 230px"
				alt=""
				role="presentation"
			/>
			<span class="sr-only">Tour de Planet - move for climate</span>
		</h1>
	</a>
</header>
