<div class="container">
  <nav class="nav-main">
    <button
      id="nav-main-btn"
      class="nav-main-btn"
      type="button"
      aria-controls="tdp-flyout-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="nav-main-btn-line nmbl-1"></div>
      <div class="nav-main-btn-line nmbl-2"></div>
      <div class="nav-main-btn-line nmbl-3"></div>
    </button>
    <div id="tdp-flyout-nav">
      <div class="nav-main-content">
		    {% include 'includes/nav_main_locale_switch.html.twig' %}
        <ul class="nav-main-menu-list container">
          {% for item in sulu_navigation_root_tree('main') %}
            {% set item_path=sulu_content_path(item.url) %}
            <li class="nav-main-menu-item">
              <a href="{{ item_path }}" class="nav-main-menu-link type-nav-l1">
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>