{% if imageUrl is defined and imageUrl %}
	<a
		class="teaser-image-link"
		href="{{ imageUrl }}"
		{% if imageTitle %} title="{{ imageTitle }}" {% endif %}
	>
{% endif %}
<img
	class="in-grid m-t-10 m-b-10"
	src="{{ image.thumbnails['1140w'] }}"
	srcset="{{ image.thumbnails['320w'] }} 320w,
			{{ image.thumbnails['640w'] }} 640w,
			{{ image.thumbnails['720w']}} 720w,
			{{ image.thumbnails['960w']}} 960w,
			{{ image.thumbnails['1140w'] }} 1140w,
			{{ image.thumbnails['2160w'] }} 2160w"
	sizes="(min-width: 1200px) 1140px,
	(min-width: 992px) 960px,
	(min-width: 768px) 720px,
	(min-width: 576px) 540px,
	100vw"
	{% if imageTitle %} alt="{{ imageTitle|raw }}" title="{{ imageTitle }}" {% endif %} />
{% if imageUrl is defined and imageUrl %}
	</a>
{% endif %}
