{% set title = title|default(block.title|default()) %}
{% set url = url|default(block.url|default()) %}
{% set url = sulu_content_path(url) %}

{% set teaserImage = sulu_resolve_media(block.mediaId, app.request.locale) %}
<div class="teaser-head overlay">
{% if teaserImage %}
    {% include 'includes/blocks/inner/image_block.html.twig' with {image: teaserImage, imageTitle: title} %}
{% endif %}
    <a href="{{ url }}" class="btn white primary">read on</a>
</div>
<div class="teaser-body">
    {% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, size: 2, class: 'c-title'} %}
    {{ block.description | replace({'<p>': '<p class="type-regular m-t-20 m-b-20">'}) | raw }}
    <a href="{{ url }}" class="read-more-link type-headline">{{ block.moreText|default('Read more'|trans) }}</a>
</div>