html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

/*
 * Utility classes
 */

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.bg-w {
  background: #fff;
}

.margin-completion {
  overflow: auto;
}

img.in-grid {
  width: 100%;
  height: auto;
}

header {
  div.logo {
  background: url("../images/TDP_LOGO_BLACK.svg") top left no-repeat fixed;
  background-size: 648px;
  min-height: 150px;
  }
}

.article-teaser {
  padding: 0 !important;
  .teaser-image{
    width: 100%;
    height: 300px;
    overflow: hidden;

  }
}