.teasers {
    background: #fff;
    width: 100%;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .teaser-slider {
        margin-top: 30px;
    }

    .single-teaser {
        padding: 12px;
        background: #fff;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin-top: 30px;
    }
    .single-teaser:hover{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    }
    .teaser-head{
        position:relative;
        overflow:hidden;
    }
    .teaser-head::before {
        opacity: 0;
        visibility: hidden;
        z-index: 5;
    }
    .teaser-head img{
        height:100%;
        width:100%;
    }
    .teaser-head:hover img{
        -webkit-transform:scale(1.3);
        -moz-transform:scale(1.3);
        transform:scale(1.3);
    }
    .teaser-head:hover:before{
        opacity:0.8;
        visibility:visible;
    }
    .teaser-head a {
        position: absolute;
        top: 50%;
        margin: -25px 0 0 -25px;
        z-index: 10;
        border-radius: 0px;
        left: 50%;
        font-weight: 500;
        text-transform: capitalize;
        margin-left: -58px;
        padding: 12px 22px;
        opacity:0;
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        transform:scale(0);
        border-radius: 50px;
    }
    .teaser-head:hover .btn{
        transform: scale(1);
        opacity: 1;
    }
    .teaser-body {
        margin: 15px;
        margin-top: 0px;
    }
    .name-price {
        padding: 0;
        width: 100%;
        position: relative;
        z-index: 333;
        margin-top: -33.5px;
    }
    .name-price .teacher-info {
        display: inline-block;
    }
    .teacher-info img {
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 100%;
        display: inline-block;
        border: 4px solid #fff;
        float: left;
        -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    }
    .single-teaser .teacher-info:hover img{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        transform:rotate(360deg);
    }
    .teacher-info .title {
        font-weight: 500;
        padding: 10px;
        color: #fff;
        border-radius: 30px;
        position: absolute;
        left: 0;
        bottom: -43px;
        z-index: 33;
        font-size: 13px;
        -webkit-transform:translateX(-30px);
        -moz-transform:translateX(-30px);
        transform:translateX(-30px);
        opacity:0;
        visibility:hidden;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .teacher-info:hover .title{
        transform:translateX(0px);
        opacity:1;
        visibility:visible;
    }
    .teacher-info .title::before {
        content: "";
        border-bottom: 12px solid;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        top: -10px;
    }
    /* Price */
    .price {
        color: #fff;
        padding: 5px 25px;
        font-weight: 700;
        position: relative;
        margin-top: 12px;
        float: right;
        border-radius: 50px;
        right: 0;
    }
    .teaser-body .c-title {
        font-size: 18px;
        text-align: left;
        margin: 5px 0 15px;
    }
    .teaser-body .c-title a {
        color: #252525;
        font-weight: 700;
    }
    .teaser-body p {
        color: #666;
    }
    .teaser-meta {
        background: #fff;
        border-top: 1px solid rgba(204, 204, 204, 0.45);
        overflow: hidden;
        margin: 15px;
        text-align: left;
        padding-top: 15px;
    }
    /* Rattings */
    .rattings li {
        display: inline;
        margin-right: 2px;
    }
    .rattings li.point span {
        display: inline-block;
        position: relative;
    }
    .rattings li.point span:before {
        content: "(";
    }
    .rattings li.point span::after {
        content: ")";
    }
    /* Course Info */
    .teaser-info {
        margin-top: 4px;
    }
    .teaser-info span {
        display: inline-block;
        color: #888;
        margin-right: 8px;
        font-weight: 500;
        -webkit-transition:all 0.3s ease 0s;
        -moz-transition:all 0.3s ease 0s;
        transition:all 0.3s ease 0s;
    }
    .teaser-info span:last-child{
        margin-right:0px;
    }
    .teaser-info span i{
        margin-right:5px;
    }
    /* Slider Meta */
    .owl-controls {
        margin-top: 30px;
    }
    .owl-controls .owl-nav div {
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 22px;
        padding: 0;
        border-radius: 100%;
        color: #555;
        background: #fff;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
        margin: 0 10px 0 0;
        border: 1px solid #ccc;
    }
    .owl-controls .owl-nav div:last-child{
        margin:0;
    }
    .teaser-slider:hover .owl-controls .owl-nav div {
        opacity: 1;
        visibility: visible;
    }
    .owl-controls .owl-nav div:hover{
        border-color:transparent;
        color:#fff;
    }
    /* Courses Archive */
    .teasers.archive{
        padding:60px 0 90px;
    }
    .teasers.archive .single-teaser {
        margin: 30px 0 0;
    }
}
