$font-impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-sans-serif: 'Helvetica Neue', sans-serif;
$color-white: #fff;
$color-black: #000;
$color-darkish-blue: #01499d;

/* Running text link style */
a {
  text-decoration: none;
  font-weight: bold;
  color: $color-darkish-blue;
}

.type-title {
  font-family: $font-impact;
  font-size: 27px;
  line-height: 29px;
  color: $color-darkish-blue;
  margin-right: 10%;
}

.type-regular {
  font-family: $font-sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: $color-black;
}

.type-highlight {
  font-weight: bold;
  color: $color-darkish-blue;
}

.type-headline {
  font-family: $font-impact;
  font-size: 18px;
  line-height: 22px;
  color: $color-darkish-blue;
}

.type-cta-contrast {
  display: inline-block;
  font-family: $font-impact;
  font-size: 18px;
  line-height: 22px;
  color: $color-white;

  @at-root a#{&}, button#{&} {
    background: $color-darkish-blue;
    border: 2px solid $color-darkish-blue;
  
    &:focus {
      background: $color-white;
      color: $color-darkish-blue;
    }
  }
}

.type-cta {
  display: inline-block;
  font-family: $font-impact;
  font-size: 18px;
  line-height: 22px;
  color: $color-darkish-blue;

  @at-root a#{&}, button#{&} {
    background: $color-white;
    border: 2px solid $color-darkish-blue;
  }
}

.type-nav-l1 {
  font-family: $font-sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: $color-black;
}

.type-nav-l2 {
  font-family: $font-sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: normal;
  color: $color-black;
}