{% extends 'base.html.twig' %}

{% block main %}
	<div class="container bg-w">
		<div class="row">
			<div class="col">
				<h2 class="type-title m-b-20 m-t-20">
					<span>{{ content.title }}</span>
				</h2>
				{{ content.intro|raw }}
			</div>
		</div>
		{% set block = {articles: content.articles} %}
		{% include 'includes/blocks/article_teasers.html.twig' %}
	</div>
{% endblock %}
