{% extends 'base.html.twig' %}

{% block main %}
	<div class="container bg-w">
		<div class="row">
			<div class="col">
				<h2 class="type-title m-b-20 m-t-20">
					<span>{{ content.title }}</span>
				</h2>
			</div>
		</div>
		{% if content.header_image %}
			<div class="row">
				{% set imageUrl = imageUrl|default(content.url|default()) %}
				{% set imageTitle = imageTitle|default(content.title|default()) %}
				{% set imageSrc = imageSrc|default(content.header_image.thumbnails['800x400']|default()) %}
				{% set imageSrc2160 = imageSrc2160|default(content.header_image.thumbnails['2160w']|default()) %}
				{% set imageSrc1140 = imageSrc1140|default(content.header_image.thumbnails['1140w']|default()) %}
				{% set imageSrc960 = imageSrc960|default(content.header_image.thumbnails['960w']|default()) %}
				{% set imageSrc720 = imageSrc720|default(content.header_image.thumbnails['720w']|default()) %}
				{% set imageSrc640 = imageSrc540|default(content.header_image.thumbnails['640w']|default()) %}
				{% set imageSrc320 = imageSrc540|default(content.header_image.thumbnails['320w']|default()) %}
				{% set imageTitle=  content.header_image.name %}
				{% set imageSrcset = {"2160w": imageSrc2160, "1140w": imageSrc1140, "960w": imageSrc960, "720w": imageSrc720, "640w": imageSrc640, "320w": imageSrc320} %}
				{% set imageSizes = "(min-width: 1200px) 1140px, (min-width: 992px) 960px, (min-width: 768px) 720px, (min-width: 576px) 540px, 100vw" %}
				{% include 'includes/blocks/inner/image_block.html.twig' with {imageSrc: imageSrc, imageTitle: imageTitle, imageSrcset: imageSrcset, imageSizes: imageSizes} %}
			</div>
		{% endif %}
		{% if content.article %}
			<div class="row">
				<div class="col">
					{{ content.article|raw }}
				</div>
			</div>
		{% endif %}
		{% if content.blocks %}
			<div class="row">
				{% for block in content.blocks %}
					{% include "includes/blocks/" ~ block.type ~ ".html.twig" with { inRow: true} %}
					{% if block.close_row %}
					</div>
					<div class="row">
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}