{% extends 'base.html.twig' %}

{% block main %}
	<div class="container bg-w">
		<div class="row">
			<div class="col">
				<h2 class="type-title m-b-20 m-t-20">
					<span>{{ content.title }}</span>
				</h2>
			</div>
		</div>
		{% if content.article %}
		<div class="row">
			<div class="col">
				{{ content.article|raw }}
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}
