{% extends 'base.html.twig' %}

{% block main %}
	<div class="container bg-w">
		{% if content.blocks %}
			<div class="row">
				{% for block in content.blocks %}
					{% include "includes/blocks/" ~ block.type ~ ".html.twig" with { inRow: true} %}
					{% if block.close_row %}
					</div>
					<div class="row">
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
