<!DOCTYPE html>
<html class="no-js">
	<head>
		{% include 'includes/seo.html.twig' %}
		<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/manifest.json">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ asset('build/website/base.css') ~ '?v=' ~ version }}" rel="stylesheet">

		<!-- Matomo -->
		<script type="text/javascript">
		var _paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//analytics.developersforfuture.org/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '6']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body>
		{% include 'includes/nav_main.html.twig' %}
		{% include 'includes/header.html.twig' %}
		{% block content %}
		<main>
			{% block main %}{% endblock %}
		</main>
		{% endblock %}
		{% include 'includes/footer.html.twig' %}
		{% block javascripts %}
			<script src="{{ asset('build/website/base.js') ~ '?v=' ~ version }}"></script>
			 <script src="{{ asset('build/website/app.js') ~ '?v=' ~ version }}"></script>

    <script type="application/javascript">
		(function() {
			var cookie = new freundeCookie();
			cookie.initFreundeCookie({
				position: 'bottom-left',
				 "palette": {
                    "popup": {
                        "background": "#01499d",
                        "text": "#ffffff"
                    },
                    "button": {
                        "background": "#1da64a",
                        "text": "#ffffff"
                    }
                },
                content: {
					message: "{% trans %}cookie.hint{% endtrans %}",
					dismiss: "{% trans %}cookie.dismiss{% endtrans %}",
					allow: "{% trans %}cookie.allow{% endtrans %}",
					link: "{% trans %}cookie.learn_more{% endtrans %}",
					href: "{{ sulu_content_path('/datenschutz') }}",
					deny: "{% trans %}cookie.deny{% endtrans %}",
					policy: "{% trans %}cookie.data_policy{% endtrans %}",
					cookiePolicy: "{% trans %}cookie.cookie_policy{% endtrans %}",
				},
				type: 'opt-in'
			});
		})();
    </script>
		{% endblock %}
	</body>

</html>
