{% extends "base.html.twig" %}

{% block main %}
    <div class="container bg-w">
    <h1>Error {{ status_code }}: {{ status_text }}</h1>

    <p>{{ exception.message }}</p>
    </div>
{% endblock %}
