{% extends 'base.html.twig' %}

{% block main %}
	<div class="container bg-w">
		<div class="row">
			<div class="col">
				<h2 class="type-title m-t-20 m-b-20">
					Newsletter registration
				</h3>
				<p class="type-regular m-t-20 m-b-20">
					Vielen Dank, dass du dich für unseren Newsletter eingetragen hast.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
