{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	<div class="card">
		{% if block.image is defined and block.image %}
			{% set imageUrl = imageUrl|default(block.url|default()) %}
			{% set imageTitle = imageTitle|default(block.title|default()) %}
			{% set imageSrc = imageSrc|default(block.image.thumbnails['800x400']|default()) %}
			{% include 'includes/blocks/inner/image_block.html.twig' with {imageUrl: imageUrl, imageSrc: imageSrc, imageTitle: imageTitle, class: 'card-imag-top'} %}
		{% endif %}
		{% if block.header is defined and block.header %}
			{% set header = header|default(block.header|default()) %}
			{% set headerUrl = headerUrl|default(block.url|default()) %}
			<div class="card-header">
				{% include 'includes/blocks/inner/text_block.html.twig' with {text: header, url: headerUrl} %}
			</div>
		{% endif %}
		<div class="card-body">
			{% if block.title is defined and block.title %}
				{% set title = title|default(block.title|default()) %}
				{% set url = url|default(block.url|default()) %}
				{% set size = size|default(block.title_tag_size|default(3)) %}
				{% set class = class|default(block.title_tag_class|default(3)) %}
				{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, size: size, class: class} %}
			{% endif %}
			{% if block.body is defined and block.body %}
				<div class="card-text">
					{% include 'includes/blocks/inner/text_block.html.twig' with {text: block.body} %}
				</div>
			{% endif %}
		</div>
		{% if block.footer is defined and block.footer %}
			<div class="card-footer">
				{% include 'includes/blocks/inner/text_block.html.twig' with {text: header} %}
			</div>
		{% endif %}
	</div>
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	

