{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	<div class="card">
		{% if block.title %}
			{% set header = header|default(block.title|default()) %}
			{% set headerUrl = headerUrl|default(block.url|default()) %}
			<div class="card-header">
				{% include 'includes/blocks/inner/text_block.html.twig' with {text: header, url: headerUrl} %}
			</div>
		{% endif %}
		<div class="card-body">
			<div class="card-text">
				<blockquote cite="{{ block.source }}" class="card-text">
					{{ block.body }}
				</blockquote>
			</div>
		</div>
		<div class="card-footer">
			<p>
				<small>{% trans %}Source{% endtrans %}:
					<a href="{{ block.source }}" target="_blank">{{ block.source }}</a>
				</small>
			</p>
		</div>
	</div>
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	
