{% if block.is_grid_item %}
	{% set class = 'article-teaser m-b-30' %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	{% if block.image %}
		{% set imageUrl = imageUrl|default(block.url|default()) %}
		{% set imageTitle = imageTitle|default(block.title|default()) %}
		{% include 'includes/blocks/inner/image_block.html.twig' with {imageUrl: imageUrl, image: block.image, imageTitle: imageTitle} %}
	{% endif %}
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}
