{% set url = block.url|default('#') %}
{% set title = block.label|default('') %}
{% set label = block.label|default('') %}
{% set icon = block.icon|default('') %}
<a href="{{ url }}" target="_blank"{% if title is not empty %} title="{{ title }}"{% endif %} class="nav-link">
    {% if icon is not empty %}<i class="fab fa-{{ icon }}"></i>{% endif %}&nbsp;{{ label }}
</a>
