{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	<div class="card">
        {% if title %}
            {% set title = title|default(title|default()) %}
            {% set url = url|default(block.url|default()) %}
            <div class="card-header">
                {% include 'includes/blocks/inner/text_block.html.twig' with {text: title, url: url} %}
            </div>
        {% endif %}
		<div class="card-body">
			<p class="card-text">{{ description }}</p>
			<p class="card-text">
			{% for tag in tags %}
				<span class="tag">{{ tag }}</span>&nbsp;
			{% endfor %}
			</p>
		</div>
		<div class="card-footer">
			<a href="{{ link|raw }}" class="card-footer-item">read on</a>
		</div>
	</div>
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	
