{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	<div class="card">
		<div class="card-header">
			{% set title = block.eventDate ~ ' | ' ~ block.location %}
			{% set url = url|default(block.url|default()) %}
			{% include 'includes/blocks/inner/text_block.html.twig' with {text: title, url: url} %}
		</div>
		<div class="card-body">
			{% set title = title|default(block.title|default()) %}
			{% set url = url|default(block.url|default()) %}
			{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, class: "card-title"} %}
		</div>
	</div>
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	
